PORT=8030
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/ossgpt?retryWrites=true&w=majority
FRONTEND_URL=http://localhost:4200
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_CHAT_MODEL=llama3.2
OLLAMA_EMBED_MODEL=nomic-embed-text
DOCUMENTS_DIR=../documents
INDEX_PATH=../data/index.json
