PORT=8030
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/ossgpt?retryWrites=true&w=majority
FRONTEND_URL=http://localhost:4200
GLM_API_KEY=votre_cle_api_ici
GLM_API_URL=https://api.z.ai/api/paas/v4
GLM_CHAT_MODEL=glm-4.5-flash
#GLM_EMBED_MODEL=embedding-2 (non disponible sur api.z.ai)
DOCUMENTS_DIR=../documents
INDEX_PATH=../data/index.json
